################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameDataParserApp/.vs/GameDataParserApp
/DeckOfCardApp/.vs
/DeckOfCardApp/DeckOfCardApp/bin/Debug/net8.0
/GameDataParserApp/.vs/ProjectEvaluation
