################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameDataParserApp/.vs/GameDataParserApp
/DeckOfCardApp/.vs
/DeckOfCardApp/DeckOfCardApp/bin/Debug/net8.0
/GameDataParserApp/.vs/ProjectEvaluation
/OnlineSchedulerApp/.vs
/OnlineSchedulerApp/OnlineSchedulerApp/bin/Debug/net8.0/OnlineSchedulerApp.dll
/OnlineSchedulerApp/OnlineSchedulerApp/bin/Debug/net8.0/OnlineSchedulerApp.exe
/OnlineSchedulerApp/OnlineSchedulerApp/bin/Debug/net8.0/OnlineSchedulerApp.pdb
/OnlineSchedulerApp/OnlineSchedulerApp/bin/Debug/net8.0/OnlineSchedulerApp.runtimeconfig.json
